@tailwind base;
@tailwind components;
@tailwind utilities;
/* div{
  border: 1px dashed red;
} */
/* .animationStyle{
   animation: product 1s ease;
}
@keyframes product {
  from{
    margin-top: 200px;
  }
  to{
    margin-top:0;
  }
} */
/* user */
